# Proyek Analisis Data: Bike Sharing Dataset
- Nama: Adhi Christanto Lius
- Email: adhicl@gmail.com
- ID Dicoding: Adhi Christanto Lius

## Menentukan Pertanyaan Bisnis

- Bagaimana perkembangan performa usaha pinjam meminjam per bulannya sepeda selama tahun 2011 - 2012
- Berapa besar perbandingan pengguna yang casual dengan pengguna yang sudah teregistrasi dari waktu ke waktu perbulannya sepanjang tahun 2011 - 2012

## Import Semua Packages/Library yang Digunakan

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st

## Data Wrangling

### Gathering Data

In [1]:
all_df = pd.read_csv("./data/day.csv")
all_df.head()

NameError: name 'pd' is not defined

**Insight:**
- xxx
- xxx

### Assessing Data

In [ ]:
all_df.info()
print(all_df.duplicated().sum())

**Insight:**
- kolom dteday formatny object
- tidak ada nilai yang terduplikasi
- tidak ada data null / kosong

### Cleaning Data

In [ ]:
all_df['dteday'] = pd.to_datetime(all_df['dteday'])
all_df.info()

**Insight:**
- format kolom dteday diubah ke datetime
- xxx

## Exploratory Data Analysis (EDA)

### Explore ...

In [ ]:
print(all_df.describe())

**Insight:**
- rata total transaksi per hari dalam 2 tahun adalah 4504 transaksi, 3656 dari registered user dan 848 dari casual user
- minimal ada 22 transaksi per hari dan maksimum 8714 transaksi

## Visualization & Explanatory Analysis

### Pertanyaan 1:

In [ ]:
monthly_df = all_df.resample(rule='MS', on="dteday").agg({
        "dteday": "first",
        "cnt": "sum"
    })

fig, ax = plt.subplots()

sns.histplot(data=monthly_df, x='dteday', weights='cnt', ax=ax, bins=15, kde=True)

ax.set_ylabel(None)
ax.set_xlabel("Date", fontsize=10)
ax.set_title("Monthly Transaction", loc="center", fontsize=18)
ax.tick_params(axis='y', labelsize=10)
ax.tick_params(axis='x', labelsize=10, rotation=45)

st.pyplot(fig)

### Pertanyaan 2:

In [ ]:
monthly_df = all_df.resample(rule='MS', on="dteday").agg({
        "dteday": "first",
        "casual": "sum",
        "registered": "sum",
        "cnt": "sum"
    })

total_registerd = monthly_df.registered.sum()
total_casual = monthly_df.casual.sum()
total_orders = monthly_df.cnt.sum()

labels = ('Registered', 'Other')
totals = (monthly_df.registered.sum(), monthly_df.casual.sum())
colors = ('#93C572', '#FFF8DC')
explode = (0, 0)

fig, ax = plt.subplots()
ax = plt.pie(
    x=totals,
    labels=labels,
    autopct='%1.1f%%',
    colors=colors,
    explode=explode
)
st.pyplot(fig)

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- transaksi terus meningkat sepanjang bulan tetapi mulai menurun tajam bulan Juli 2012
- 81.2% user sudah teregistrasi, sisanya 18.8% belum teregistrasi / casual